@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-file-input::file-selector-button {
        @apply appearance-none rounded-xl text-sm sm:text-[0.9rem] hover:bg-rose_light sm:ml-0 pr-1 sm:pr-1 outline-none ring-0 border-none py-3 md:px-5 sm:mr-7 w-[10rem] h-[3rem] flex flex-col md:w-[10rem] md:h-[3rem] text-center font-poppins font-medium cursor-pointer;
        background-color: theme('colors.rose_medium') !important;
        color: theme('colors.black') !important;
        hover: theme('colors.rose_light') !important;
    }

    .custom-file-input {
        @apply font-poppins text-sm mr-7 md:mr-0 md:ml-2 pr-2 rounded-xl w-[10rem] h-[3rem] flex flex-col;
    }

    .custom-file-input::file-selector-button:hover {
        background-color: theme('colors.rose_light') !important;
        /* Cor ao passar o mouse */
    }

    svg#freepik_stories-young-and-happy:not(.animated) .animable {
        opacity: 0;
    }

    svg#freepik_stories-young-and-happy.animated #freepik--Character--inject-49 {
        animation: 3s Infinite linear floating;
        animation-delay: 0s;
    }

    svg#freepik_stories-young-and-happy.animated #freepik--Streetlight--inject-49 {
        animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown, 1.5s Infinite linear floating;
        animation-delay: 0s, 1s;
    }

    @keyframes floating {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animator-hidden {
        display: none;
    }
}